.header-page{
    
    text-align: center;
    // background: rgb(191,179,249);
    // background: linear-gradient(51deg, rgba(191,179,249,1) 0%, rgba(240,237,255,1) 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:200px 20px;
    background-size:150px;
    padding-bottom: 40px;
    border-bottom: 0px solid;
    border-image: linear-gradient(to right, #ff0000, #ff0064 , #00c8ff) 1;
    border-image-slice: 1;
    @media only screen and (max-width: 600px) {
        padding-bottom: 10px;
    }
    h1{
        @media only screen and (max-width: 600px) {
            font-size: 25px;
        }
    }
    .search{
        min-width: 700px;
        font-size: 25px;
        padding: 15px 30px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 35px;
        @media only screen and (max-width: 600px) {
            min-width: 100%;
            font-size: 20px;
            padding: 15px 20px;
        }
        // border: 2px solid;
        

    }  
    .gradient-text{
        background: linear-gradient(45deg, red, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
   
}
.header-nav{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
    
  
}
.ant-layout-header{
    @media only screen and (max-width: 600px) {
        padding:0 10px;
    }
   
}